In [69]:
import pandas as pd

old_prop = pd.read_csv("./inputs/first_prop_import.tsv", sep="\t")
new_prop = pd.read_csv("./outputs/property_join_tr_new.tsv", sep="\t")
new_prop["parcel_id"] = new_prop["parcel_id_old"].astype(str)

mrg = old_prop.merge(new_prop, on='parcel_id', how='left', suffixes=("_old1", "_new1"))
# mrg = mrg[~pd.isnull(mrg["parcel_id_new"])]
mrg = mrg.drop_duplicates(subset=["parcel_id"], keep="first")
mrg.drop([col for col in mrg.columns if "_old1" in col], axis=1, inplace=True)
mrg.drop(["Unnamed: 0_new1"], axis=1, inplace=True)

new_col_names = {}
for col_name in mrg.columns:
    if "_new1" in col_name:
        new_col_names[col_name] = col_name.replace("_new1", "")
    else:
        new_col_names[col_name] = col_name

mrg.rename(columns=new_col_names, inplace=True)
mrg.to_csv("out_merge_all.tsv", index=False, sep="\t")
mrg.shape

(45766, 16)

In [95]:
df = pd.read_csv("./cached_files/rps_pull.csv")
df[df['loc_st_name'] == "Emerson Ave Rear"]

C:\Users\dpi30\AppData\Local\Temp\2\ipykernel_1660\2001277780.py:4: DtypeWarning: Columns (10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./cached_files/rps_pull.csv")

,swis,section,sub_section,block,lot,sub_lot,suffix,print_key,grid_east,grid_north,...,own_unit_nbr,owner_addl_addr,desig_status,owner_typ,pa_owner_id,pa_owner_first_name,pa_owner_init_name,pa_owner_last_name,pa_owner_name_suffix,own_code.1
45858,311500,777,0,1,27,0,0,777.-01-27.0,0,0,...,C910,NaN,NaN,A,345692,NaN,NaN,Erie Lackawana,NaN,NaN
45859,311500,777,0,1,28,0,0,777.-01-28.0,0,0,...,C910,NaN,NaN,A,345694,NaN,NaN,Erie Lackawana,NaN,NaN